html {
    font-size: 18px;
    font-family: 'Iosevka Web';
    background-color: #2a2a37;
    color: #dfd9bf;
    
}

header {
    border-bottom: 1px solid #dfd9bf;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}

h1 {
    font-style: italic;
    text-align: center;
}

body {
    margin: 0 auto; /* Remove default margin */
    width: 75%;
  }
  

a {
    color: inherit;
    text-decoration: none;
    background-color: #617f8d;
}

a:hover {
    background-color: #8db7cb;
}